.time {
  height: 100%;
  background-color: var(--graybackground);
}

.time-clock {
  width: 100%;
  position: absolute;
  top: 20%;
  text-align: center;
}
.time-time {
  font-size: 5rem;
}

.t-bottom {
  height: 25%;
  width: 100%;
  position: absolute;
  bottom: 10vh;
}
.t-bottomSection {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  padding: 0 2rem;
}
.t-bottomSectionContainer {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  border-radius: 1rem;
  background-color: white;
  border: 1px solid var(--lightgray);
  box-shadow: 0 3px 3px 2pt rgb(241, 241, 241);
}

.t-item {
  height: 100%;
}
.t-bottomSectionTime {
  height: 30%;
  box-sizing: border-box;
  padding: 1rem 1rem 0 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.t-flowBlocItemTitle {
  height: 30%;
  width: 100%;
  text-align: center;
  box-sizing: border-box;
  padding: 0 1rem 0 1rem;
}
.t-flowBlocItemLocation {
  height: 30%;
  width: 100%;
  text-align: center;
  box-sizing: border-box;
  padding: 0 1rem 0 1rem;
}