.milestones {
  height: 100%;
  background-color: var(--graybackground);
}

.m-swipeWrapper {
  height: calc(100% - 6rem);
}
.m-swipeWrapper>div {
  height: 100%;
}
.m-milestoneHeight {
  height: 100%;
  box-sizing: border-box;
  padding: 4vh 1rem 0 1rem;
  overflow: hidden;
}

.m-arrow {
  height: 3rem;
  font-size: 1.5rem;
}
.m-more {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  position: absolute;
  z-index: 1;
  right: 3%;
  top: 2%;
}
.m-moreButton {
  width: 100%;
  height: 100%;
}
.m-moreicon {
  font-size: 2rem;
}


.m-lock {
  text-align: center;
  font-size: 7vh;
}
.m-textHeading {
  margin-top: 10vh;
}
.m-centertitle {
  text-align: center;
  font-size: 5vh;
  font-weight: 600;

}
.m-centerheading {
  text-align: center;
  margin-top: 2vh;
}
.m-age {
  font-size: 4vh;
  margin-left: 0.5rem;
}
.m-progressbarwrapper {
  height: 175px;
  width: 175px;
  margin: 23vh auto 0 auto;
}
.m-progressbar {
  height: 10px;
  width: 250px;
  border-radius: 50px;
  border: 1px solid var(--dark);
  margin: 0 auto;
}