.schedule {
  position: relative;
  top: 0;
  left: 0;
  height: 100%;
  box-sizing: border-box;
  overflow: auto;
}

.s-scheduleWrapper {
  height: 100%;
  overflow: auto;
}

.s-date {
  text-align: center;
  font-size: 1.2rem;
  height: 70px;
  width: 100%;
  box-sizing: border-box;
  border-bottom: 1px solid var(--border);
  background-color: var(--graybackground);
  margin-bottom: 10px;
}
.s-add {
  position: absolute;
  top: 10px;
  right: 12px;
  color: var(--blue);
  font-size: 2rem;
  height: 50px;
  width: 50px;
}
.s-list {
  display: flex;
  flex-direction: row;
}
.s-timelist {
  width: 1.5rem;
  font-size: 1.25rem;
  margin-left: 1rem;
  margin-right: 0.5rem;
}
.s-time {
  height: 180px;
  border-top: 1px solid var(--gray);
  box-sizing: border-box;
  text-align: center;
}
.s-bloclist {
  flex: 1;
}
.s-bloc {
  background-color: var(--lightgray);
  border-radius: 10px;
  border-bottom: 2px solid white;
  box-sizing: border-box;
  padding: 3px 3px 3px 8px;
  position: absolute;
  width: calc(100% - 4rem);
}
.s-spacer {
  height: 50px;
  width: 100%;
}

.s-modal {
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: var(--whitebackground);
  z-index: 1;
}
.s-modalContainer {
  height: 70%;
  width: 80%;
  background-color: var(--graybackground);
  border-radius: 20px;
  box-sizing: border-box;
  border: 1px solid var(--border);
  padding: 1rem;
  overflow: auto;
  position: absolute;
  z-index: 2;
  display: flex;
  flex-direction: column;
}

.s-typeToggle {
  box-sizing: border-box;
  border: 2px solid var(--blue);
  border-radius: 2.5vh;
  height: 5vh;
  width: 100%;
  margin: 0 auto;
}
.s-typeToggleText {
  height: 100%;
  font-size: 0.8rem;
  font-weight: 700;
  color: var(--blue);
}
.s-typeToggleBackgroundLeft {
  height: 100%;
  width: 100%;
  color: white;
  background-color: var(--blue);
  border-radius: 20px 0px 0px 20px;
}
.s-typeToggleBackgroundRight {
  height: 100%;
  width: 100%;
  /* color: white;
  background-color: var(--blue); */
  border-radius: 0px 20px 20px 0px;
}
.s-input {
  width: 100%;
  margin-top: 1rem;
}
.s-inputSmall {
  width: 3rem;
  padding: 0;
  text-align: center;
}
.s-colon {
  margin: 0 0.4rem;
}
.s-spaceBetween {
  justify-content: space-between;
}
.s-smallWidth {
  width: 50px;
}

.s-textArea {
  padding: 10px 15px;
  box-sizing: border-box;
  border: 1px solid var(--border);
  border-radius: 20px;
  font-family: 'Lato', sans-serif;
  transition: 100ms all;
  font-size: 1rem;
}
.s-textArea:focus {
  outline: none;
  box-shadow: 0 0 0 3pt rgb(241, 241, 241);
}

.s-buttonSmall {
  height: 30px;
  width: 30px;
  border-radius: 15px;
  text-align: center;
  color: white;
}
.s-button {
  height: 40px;
  min-width: 40px;
  border-radius: 20px;
  text-align: center;
  font-weight: 700;
  font-size: 1rem;
  color: white;
}
.s-save {
  width: 80px;
}
.s-minHeight {
  min-height: 1rem;
}